In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
!wget -O moviedataset.zip https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%205/data/moviedataset.zip
print('...unzipping ...')
!unzip -o -j moviedataset.zip

--2023-02-21 15:00:44--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%205/data/moviedataset.zip
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.45.118.108
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.45.118.108|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 160301210 (153M) [application/zip]
Saving to: ‘moviedataset.zip’

moviedataset.zip    100%[===================>] 152.88M  24.8MB/s    in 6.3s

2023-02-21 15:00:50 (24.3 MB/s) - ‘moviedataset.zip’ saved [160301210/160301210]

...unzipping ...
Archive:  moviedataset.zip
  inflating: links.csv
  inflating: movies.csv
  inflating: ratings.csv
  inflating: README.txt
  inflating: tags.csv

In [4]:
movies_df=pd.read_csv('movies.csv')
ratings_df=pd.read_csv('ratings.csv')

In [5]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())
movies_df.head()

<ipython-input-6-1f9e4dacf52e>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [7]:
movies_df=movies_df.drop('genres',1)

<ipython-input-7-fa3f838ba1a9>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  movies_df=movies_df.drop('genres',1)

In [8]:
movies_df.head()

   movieId                        title  year
0        1                    Toy Story  1995
1        2                      Jumanji  1995
2        3             Grumpier Old Men  1995
3        4            Waiting to Exhale  1995
4        5  Father of the Bride Part II  1995

In [9]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

In [10]:
ratings_df=ratings_df.drop('timestamp',1)

<ipython-input-10-7cab0d1292dc>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  ratings_df=ratings_df.drop('timestamp',1)

In [11]:
ratings_df.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

In [12]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

In [13]:
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
inputMovies = pd.merge(inputId, inputMovies)
inputMovies = inputMovies.drop('year', 1)
inputMovies

<ipython-input-13-dd00e9b22ec8>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  inputMovies = inputMovies.drop('year', 1)

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

In [14]:
userSubset=ratings_df[ratings_df['movieId'].isin(inputMovies['movieId'].tolist())]
userSubset.head()

     userId  movieId  rating
19        4      296     4.0
441      12     1968     3.0
479      13        2     2.0
531      13     1274     5.0
681      14      296     2.0

In [15]:
userSubsetGroup = userSubset.groupby(['userId'])
userSubsetGroup.get_group(1130)

        userId  movieId  rating
104167    1130        1     0.5
104168    1130        2     4.0
104214    1130      296     4.0
104363    1130     1274     4.5
104443    1130     1968     4.5

In [16]:
userSubsetGroup=sorted(userSubsetGroup,key=lambda x: len(x[1]), reverse=True)
userSubsetGroup[0:3]

[(75,       userId  movieId  rating
  7507      75        1     5.0
  7508      75        2     3.5
  7540      75      296     5.0
  7633      75     1274     4.5
  7673      75     1968     5.0), (106,       userId  movieId  rating
  9083     106        1     2.5
  9084     106        2     3.0
  9115     106      296     3.5
  9198     106     1274     3.0
  9238     106     1968     3.5), (686,        userId  movieId  rating
  61336     686        1     4.0
  61337     686        2     3.0
  61377     686      296     4.0
  61478     686     1274     4.0
  61569     686     1968     5.0)]

In [17]:
userSubsetGroup=userSubsetGroup[0:500]

In [18]:
from math import sqrt
#Store the Pearson Correlation in a dictionary, where the key is the user Id and the value is the coefficient
pearsonCorrelationDict = {}
#For every user group in our subset
for name, group in userSubsetGroup:
    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='movieId')
    inputMovies = inputMovies.sort_values(by='movieId')
    #Get the N for the formula
    nRatings = len(group)
    #Get the review scores for the movies that they both have in common
    temp_df = inputMovies[inputMovies['movieId'].isin(group['movieId'].tolist())]
    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = temp_df['rating'].tolist()
    #Let's also put the current user group reviews in a list format
    tempGroupList = group['rating'].tolist()
    #Now let's calculate the pearson correlation between two users, so called, x and y
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    
    #If the denominator is different than zero, then divide, else, 0 correlation.
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorrelationDict[name] = 0

In [19]:
pearsonCorrelationDict.items()

dict_items([(75, 0.8272781516947562), (106, 0.5860090386731182), (686, 0.8320502943378437), (815, 0.5765566601970551), (1040, 0.9434563530497265), (1130, 0.2891574659831201), (1502, 0.8770580193070299), (1599, 0.4385290096535153), (1625, 0.716114874039432), (1950, 0.179028718509858), (2065, 0.4385290096535153), (2128, 0.5860090386731196), (2432, 0.1386750490563073), (2791, 0.8770580193070299), (2839, 0.8204126541423674), (2948, -0.11720180773462392), (3025, 0.45124262819713973), (3040, 0.89514359254929), (3186, 0.6784622064861935), (3271, 0.26989594817970664), (3429, 0.0), (3734, -0.15041420939904673), (4099, 0.05860090386731196), (4208, 0.29417420270727607), (4282, -0.4385290096535115), (4292, 0.6564386345361464), (4415, -0.11183835382312353), (4586, -0.9024852563942795), (4725, -0.08006407690254357), (4818, 0.4885967564883424), (5104, 0.7674257668936507), (5165, -0.4385290096535153), (5547, 0.17200522903844556), (6082, -0.04728779924109591), (6207, 0.9615384615384616), (6366, 0.6577935144802716), (6482, 0.0), (6530, -0.3516054232038709), (7235, 0.6981407669689391), (7403, 0.11720180773462363), (7641, 0.7161148740394331), (7996, 0.626600514784504), (8008, -0.22562131409856986), (8086, 0.6933752452815365), (8245, 0.0), (8572, 0.8600261451922278), (8675, 0.5370861555295773), (9101, -0.08600261451922278), (9358, 0.692178738358485), (9663, 0.193972725041952), (9994, 0.5030272728659587), (10248, -0.24806946917841693), (10315, 0.537086155529574), (10368, 0.4688072309384945), (10607, 0.41602514716892186), (10707, 0.9615384615384616), (10863, 0.6020183016345595), (11314, 0.8204126541423654), (11399, 0.517260600111872), (11769, 0.9376144618769914), (11827, 0.4902903378454601), (12069, 0.0), (12120, 0.9292940047327363), (12211, 0.8600261451922278), (12325, 0.9616783115081544), (12916, 0.5860090386731196), (12921, 0.6611073566849309), (13053, 0.9607689228305227), (13142, 0.6016568375961863), (13260, 0.7844645405527362), (13366, 0.8951435925492911), (13768, 0.8770580193070289), (13888, 0.2508726030021272), (13923, 0.3516054232038718), (13934, 0.17200522903844556), (14529, 0.7417901772340937), (14551, 0.537086155529574), (14588, 0.21926450482675766), (14984, 0.716114874039432), (15137, 0.5860090386731196), (15157, 0.9035841064985974), (15466, 0.7205766921228921), (15670, 0.516015687115336), (15834, 0.22562131409856986), (16292, 0.6577935144802716), (16456, 0.7161148740394331), (16506, 0.5481612620668942), (17246, 0.48038446141526137), (17438, 0.7093169886164387), (17501, 0.8168748513121271), (17502, 0.8272781516947562), (17666, 0.7689238340176859), (17735, 0.7042381820123422), (17742, 0.3922322702763681), (17757, 0.64657575013984), (17854, 0.537086155529574), (17897, 0.8770580193070289), (17944, 0.2713848825944774), (18301, 0.29838119751643016), (18509, 0.1322214713369862), (18765, 0.8320502943378437), (18905, -0.0661107356684931), (19208, 0.6020183016345586), (19381, 0.14135069854804388), (19607, 0.8320502943378437), (19890, 0.7520710469952329), (20278, 0.8056292332943623), (20319, -0.11720180773462392), (20341, 0.877058019307029), (20444, 0.6768639422957096), (20650, 0.9866902717204096), (20708, -0.41602514716892186), (20759, 0.6020183016345595), (20838, 0.0), (20969, 0.2580078435576683), (21023, 0.8038925870986305), (21148, 0.8807048459279793), (21242, 0.8141546477834322), (21362, 0.22562131409856986), (21473, 0.6864064729836442), (21475, 0.827278151694757), (21819, 0.840548475181792), (22043, 0.7520710469952329), (22180, 0.4512426281971402), (22883, 0.29417420270727607), (22950, 0.46265194557299216), (22952, 0.526449732896663), (23297, 0.716114874039432), (23332, 0.711233325153824), (23437, 0.716114874039432), (23467, 0.806225774829855), (23534, -0.4385290096535115), (23562, 0.7674257668936518), (23600, 0.358057437019716), (23815, 0.22562131409856986), (24692, 0.29268470350248177), (24846, 0.35805743701971654), (25090, 0.4688072309384957), (25488, 0.7042381820123422), (25760, 0.40782369514309286), (25778, 0.22562131409856986), (25793, -0.31803907173309875), (25799, 0.9457559848219182), (25930, 0.21926450482675575), (26155, 0.21926450482675722), (26516, 0.5847053462046866), (26602, 0.26989594817970664), (27131, 0.179028718509858), (27160, 0.6361464251628642), (27177, 0.8807048459279793), (27255, 0.4385290096535145), (27281, 0.08006407690254357), (27583, 0.537086155529574), (27638, 0.6864064729836442), (27719, 0.46277514967945166), (27988, 0.3922322702763681), (28012, 0.6564386345361464), (28170, -0.16984155512168936), (28670, 0.840548475181792), (28755, 0.8984681855808223), (29118, 0.6784622064861935), (29178, 0.7689238340176859), (29218, 0.840548475181792), (29300, 0.05860090386731196), (29353, 0.8272781516947562), (29369, 0.774023530673005), (29520, 0.34633002829842735), (29653, 0.827278151694757), (29743, 0.30082841879809313), (30029, 0.96986362520976), (30365, 0.3516054232038709), (30642, 0.0), (30651, 0.878275310689946), (30758, 0.526449732896663), (30771, 0.774023530673005), (30853, 0.6147413901342469), (31542, 0.44965838938680786), (31583, 0.358057437019716), (31605, 0.4688072309384956), (31920, 0.657793514480273), (32419, -0.21926450482675575), (32466, 0.20391184757154632), (32599, 0.452603025097888), (32738, 0.2644429426739724), (33120, 0.5661385170722978), (33121, 0.8594395636904102), (33509, 0.711233325153824), (33521, 0.45124262819713973), (33797, 0.8713121398246098), (33945, 0.9460287597114506), (34234, 0.5860090386731182), (34945, 0.5288858853479448), (34978, 0.526449732896663), (35189, 0.4688072309384945), (35213, 0.4385290096535145), (35315, 0.6880209161537812), (35900, 0.11720180773462363), (35964, 0.8518740546199821), (36264, 0.8807048459279793), (36711, 0.9866902717204075), (36933, 0.10963225241337883), (36936, 0.8272781516947562), (36946, 0.46277514967945166), (36985, -0.3440104580768906), (37139, 0.9370614600819804), (37148, -0.43852900965351443), (37197, 0.8320502943378437), (37311, 0.4385290096535153), (37725, 0.8770580193070306), (37855, 0.8498365855987974), (37887, 0.08006407690254357), (38004, 0.29838119751643016), (38200, 0.7674257668936502), (38304, 0.5860090386731196), (38318, 0.8770580193070289), (38445, 0.7161148740394363), (38450, 0.08006407690254357), (38734, 0.6465757501398395), (38813, -0.17902871850985827), (38875, 0.7666866491579839), (38957, 0.21926450482675766), (38986, 0.8951435925492914), (39123, 0.179028718509858), (39142, -0.06296909605425953), (39163, 0.3827795011754764), (39252, 0.7205766921228921), (39273, 0.5765566601970551), (39283, 0.0), (39595, 0.9255502993589033), (39677, 0.8770580193070306), (39746, 0.9446561113394428), (39794, 0.8204126541423674), (39969, 0.657793514480273), (39994, 0.7557086549031784), (40527, 0.9776923610938028), (40567, 0.774023530673004), (40801, 0.31253815395899703), (41061, 0.1386750490563073), (41373, 0.8594395636904109), (41458, 0.5084751798731266), (41488, 0.11720180773462363), (41714, 0.7674257668936502), (41746, 0.0), (41886, 0.80968784453912), (42305, 0.8600261451922278), (42416, 0.6020183016345586), (42734, 0.6880209161537822), (43228, 0.43852900965351493), (43287, 0.537086155529574), (43767, 0.8320502943378437), (43920, 0.657793514480273), (44445, 0.30181636371957526), (44585, 0.30181636371957526), (44758, 0.8600261451922278), (45024, 0.775890900167808), (45074, 0.7813453848974926), (45123, -0.323875137815648), (45300, 0.5860090386731196), (45640, 0.9866902717204096), (45727, 0.9616783115081544), (45782, 0.2362864056789659), (45824, 0.9024852563942805), (46009, 0.9434563530497265), (46025, 0.4902903378454601), (46237, 0.7655590023509524), (46455, 0.6880209161537812), (46458, 0.5547001962252291), (46509, 0.04523081376574623), (46619, 0.9457559848219182), (46750, 0.6577935144802716), (46987, 0.657793514480273), (47109, 0.9024852563942795), (47242, -0.10963225241337861), (47386, 0.558156305651438), (47586, 0.6768639422957103), (47648, 0.7876213522632196), (47776, 0.5160156871153366), (47808, 0.7674257668936502), (48087, 0.21926450482675766), (48098, 0.7161148740394324), (48431, 0.4300130725961139), (48492, 0.657793514480273), (48757, 0.8503864129218268), (48793, 0.08600261451922266), (48923, 0.3288967572401358), (48986, 0.1720052290384453), (48993, 0.11720180773462363), (49089, 0.5860090386731196), (49359, 0.64657575013984), (50254, 0.7205766921228921), (50259, 0.5860090386731182), (50458, 0.537086155529574), (50514, 0.5860090386731196), (50738, 0.21926450482675722), (50820, 0.8076923076923077), (50877, -0.2773500981126146), (51033, 0.7862136275414388), (51159, 0.052414241836095915), (51397, 0.4772135722318333), (51580, 0.6020183016345595), (51609, 0.15293388567865973), (51672, 0.03906726924487463), (51813, -0.2773500981126146), (51920, 0.727218092353424), (52673, 0.61608007261268), (52718, -0.08006407690254357), (52815, 0.43183351708753065), (53021, 0.2012109091463835), (53030, 0.06933752452815364), (53094, -0.2632248664483318), (53598, 0.9825015015781492), (53735, 0.3288967572401365), (54009, 0.19397272504195184), (54096, -0.32387513781564786), (54158, 0.8156473902861853), (54308, 0.9457559848219182), (54515, 0.4725728113579318), (54746, 0.9024852563942795), (54755, 0.43852900965351493), (55061, 0.5860090386731182), (55164, 0.7757911135427185), (55385, 0.8204126541423674), (55386, 0.716114874039432), (55495, 0.657793514480273), (55882, 0.1458525790406115), (55990, 0.537086155529574), (56061, 0.9866902717204075), (56395, 0.5860090386731196), (56705, 0.1941450686788302), (56800, 0.258630300055936), (57015, 0.14617633655117165), (57117, -0.22562131409856986), (57474, 0.9176033140719585), (57604, 0.8320502943378436), (57915, 0.9302605094190635), (57920, 0.6813851438692469), (57966, -0.15724272550828775), (58040, 0.6813851438692469), (58061, 0.6768639422957096), (58171, 0.8807048459279793), (58480, 0.644013320739929), (58571, 0.9176462238110027), (58618, 0.8951435925492914), (58631, 0.8511803863397264), (58708, 0.29417420270727607), (58973, 0.22562131409856986), (59037, -0.8204126541423674), (59338, 0.937614461876989), (59584, 0.775890900167808), (59681, 0.840548475181792), (59949, 0.89514359254929), (59997, 0.9776923610938038), (60336, 0.9024852563942805), (60469, 0.8056292332943623), (60482, -0.4408229869951968), (60486, 0.8951435925492954), (60514, 0.8492077756084467), (60859, -0.41602514716892186), (61364, 0.43852900965351493), (61550, -0.11720180773462392), (61705, 0.7862136275414388), (61725, 0.161937568907824), (61917, 0.9434563530497265), (61957, 0.80968784453912), (62056, 0.5339360629309894), (62494, 0.10195592378577316), (62531, -0.030553763875021116), (62975, 0.5860090386731182), (63110, 0.5370861555295748), (63236, 0.8320502943378437), (63361, 0.7876213522632196), (63559, 0.9376144618769914), (63947, 0.6933752452815365), (64214, 0.5370861555295748), (64456, 0.9776923610938038), (64563, 0.628970902033151), (64720, 0.5607575808217524), (65259, 0.5370861555295748), (65856, 0.49334513586020373), (66042, 0.7933288280219171), (66098, 0.584705346204686), (66150, 0.7520710469952329), (66364, 0.452603025097888), (66467, 0.7674257668936502), (66887, 0.0), (67204, 0.4772135722318333), (67300, 0.8594395636904102), (67470, 0.11720180773462363), (67756, 0.6933752452815365), (68040, 0.9255502993589033), (68205, 0.6564386345361464), (68772, 0.4300130725961139), (68783, 0.775890900167808), (68822, 0.485812706723472), (69378, 0.774023530673005), (69392, 0.9436158958517546), (69413, 0.22562131409856986), (69614, 0.9030274524518379), (69705, 0.8204126541423674), (69718, 0.49334513586020373), (70123, 0.6577935144802716), (70174, 0.11935247900657207), (70269, 0.29417420270727607), (70277, 0.2685430777647874), (70542, 0.6768639422957096), (71295, 0.3922322702763681), (71498, 0.9198662110077999), (71499, 0.0), (71502, 0.0), (71559, 0.8320502943378437), (71651, 0.0), (71921, 0.89514359254929), (72022, 0.560448538317805), (72230, -0.17902871850985827), (72256, 0.07520710469952337), (72448, 0.774023530673004), (72536, 0.9255502993589033), (72806, 0.8320502943378437), (72863, 0.806225774829855), (72965, 0.8976095575314932), (73244, 0.6784622064861935), (73416, 0.358057437019716), (73419, -0.3379631847096873), (73435, 0.6577935144802719), (73494, 0.827278151694757), (73563, 0.4688072309384945), (73642, 0.3568457332502061), (73669, 0.537086155529574), (73697, -0.4424738777940688), (73725, 0.6446099425404316), (73889, 0.9376144618769914), (73908, 0.4774099160262883), (74047, 0.21926450482675747), (74125, 0.1790287185098581), (74157, 0.7520710469952329), (74234, -0.30082841879809313), (74364, 0.8780541105074453), (74430, 0.548161262066893), (74507, -0.21926450482675724), (74551, 0.7844645405527362), (74583, 0.548161262066893), (74819, 0.5860090386731196), (74858, 0.4385290096535145), (75161, 0.10963225241337883), (75461, 0.5860090386731196), (75701, 0.6020183016345595), (75769, -0.5081008669970987), (75906, 0.9255502993589041), (76255, 0.8320502943378437), (76721, 0.41602514716892186), (76795, 0.775890900167808), (76888, 0.22562131409856986), (77020, 0.8600261451922266), (77025, 0.35805743701971643), (77194, 0.35805743701971654), (77231, 0.16012815380508713), (77421, 0.7608720536668977), (77695, 0.89514359254929), (77801, 0.5116171779291008), (77981, 0.9460287597114493), (78036, 0.4688072309384957), (78038, 0.2685430777647874), (78046, 0.7032108464077418), (78095, -0.7240929464269849), (78409, 0.526449732896663), (78445, 0.774023530673005), (78473, 0.8056292332943623), (78629, 0.4688072309384957), (78766, 0.0), (78869, 0.6577935144802716), (78871, 0.268543077764787), (79099, 0.4902903378454601), (79625, 0.0), (79783, 0.43183351708753065), (80261, 0.537086155529574), (80357, 0.581918175125856), (80485, 0.8204126541423654), (80652, 0.0), (80815, 0.8770580193070289), (80865, 0.548161262066893), (81242, 0.7017294652672373), (81349, 0.581918175125856), (81404, 0.2580078435576683), (81627, 0.804843636585534), (81665, 0.716114874039432), (81702, 0.6201736729460423), (81742, 0.6446099425404311), (81793, 0.0), (82382, 0.19611613513818404), (82800, 0.5393193716300061), (83470, 0.11720180773462392), (83745, 0.3288967572401358), (83951, 0.8204126541423654), (84039, 0.4512426281971402), (84077, 0.588000578954701), (84513, 0.560448538317805), (85116, 0.8204126541423674), (85133, 0.8648817040445187), (85153, 0.5370861555295748), (85518, 0.49334513586020373)])

In [20]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['userId'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head()

   similarityIndex  userId
0         0.827278      75
1         0.586009     106
2         0.832050     686
3         0.576557     815
4         0.943456    1040

In [21]:
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
topUsers.head()

     similarityIndex  userId
258         0.986690   45640
110         0.986690   20650
326         0.986690   56061
199         0.986690   36711
310         0.982502   53598

In [22]:
topUsersRating=topUsers.merge(ratings_df, left_on='userId', right_on='userId', how='inner')
topUsersRating.head()

   similarityIndex  userId  movieId  rating
0          0.98669   45640        1     4.5
1          0.98669   45640        2     4.0
2          0.98669   45640        3     4.0
3          0.98669   45640        5     2.0
4          0.98669   45640       11     0.5

In [23]:
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['rating']
topUsersRating.head()

   similarityIndex  userId  movieId  rating  weightedRating
0          0.98669   45640        1     4.5        4.440106
1          0.98669   45640        2     4.0        3.946761
2          0.98669   45640        3     4.0        3.946761
3          0.98669   45640        5     2.0        1.973381
4          0.98669   45640       11     0.5        0.493345

In [24]:
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                  46.884968          162.287700
2                  46.884968          105.110322
3                  11.419821           30.985467
4                   1.906986            4.743267
5                   9.588646           22.526524

In [25]:
#Creates an empty dataframe
recommendation_df = pd.DataFrame()
#Now we take the weighted average
recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['movieId'] = tempTopUsersRating.index
recommendation_df.head()

         weighted average recommendation score  movieId
movieId
1                                     3.461402        1
2                                     2.241877        2
3                                     2.713306        3
4                                     2.487310        4
5                                     2.349291        5

In [26]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df.head(10)

         weighted average recommendation score  movieId
movieId
8197                                       5.0     8197
4976                                       5.0     4976
25777                                      5.0    25777
68848                                      5.0    68848
1859                                       5.0     1859
27423                                      5.0    27423
91233                                      5.0    91233
69849                                      5.0    69849
5515                                       5.0     5515
4272                                       5.0     4272

In [27]:
movies_df.loc[movies_df['movieId'].isin(recommendation_df.head(10)['movieId'].tolist())]

       movieId                                              title  year
1777      1859                   Taste of Cherry (Ta'm e guilass)  1997
4178      4272                                             Tuvalu  1999
4881      4976                                               Iris  2001
5419      5515  Songs From the Second Floor (Sånger från andra...  2000
7695      8197                                Hiroshima Mon Amour  1959
8373     25777                                    Monkey Business  1931
9328     27423              O Auto da Compadecida (Dog's Will, A)  2000
13764    68848                                Brothers Bloom, The  2008
13958    69849                                              Roots  1977
18285    91233                                             Lifted  2006